/* Body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Card container styling */
  .card-container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: #505050; /* White background for the card */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a 3D effect */
  }
  
  /* Profile image styling */
  .profile-img-card {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  /* Form button styling */
  .btn-block {
    width: 100%;
    padding: 10px;
  }
  
  /* Form group styling */
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .invalid-feedback {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 0.875rem;
    color: #dc3545; /* Bootstrap danger color */
  }
  
  .alert {
    margin-top: 10px;
  }
  
  /* Notification styling */
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }